<div class="col col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="title" class="control-label">
                            Tytuł:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="title" placeholder="Wprowadź tytuł">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="header" class="control-label">
                            Nagłówek:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" id="header" placeholder="Wprowadz nagłówek">
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="text" class="control-label">
                            Zawartość:
                        </label>
                    </div>
                    <div class="col-md-10">
                        <textarea rows="10" id="text" class="form-control"
                                  placeholder="Wprowadz zawartość strony do wygenerowania"/>
                    </div>
                </div>
                <!--<div class="col-md-2">-->
                    <!--<label for="group" class="control-label">-->
                        <!--Grupa:-->
                    <!--</label>-->
                <!--</div>-->
                <!--<div>-->
                    <!---->
                <!--</div>-->
                <button ng-click="putPage()" class="btn btn-default">Aktualizuj</button>
            </form>
        </div>
    </div>
</div>